{% extends 'main/base.html' %}

{% block title %} Homepage {% endblock %}

{% block main %}
    <h2> Driver drowsiness is a prominent cause of accidents, especially on long trips or when driving at night. 
         and we aim to develop a driver drowsiness detection system to prevent accidents caused by driver fatigue or drowsiness. 
         This initiative is to prevent road accidents caused by fatigue. 
         The outside factors, like sleeping time, weather conditions and mechanical condition of the vehicle, affecting exhaustion and drowsiness 
         can be included in the future scope of the project.</h2>
        <br><br>
   <p> <iframe src="https://giphy.com/embed/Lr3fn1Uuf9aZyNhJXb" width="480" height="480" frameBorder="0" class="giphy-embed" ></iframe> </p>
   
{% endblock %}